form {
    margin: auto;
    text-align: center;
}

.form-container {
    font-size: 2rem;
    width: 15rem;
    padding: 1rem 0 0 0;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(30%);
}

form input, select, option, #submit {
    width: 12rem;
    height: 2rem;
    padding: 0;
    margin: 0 0 1rem 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid black;
}

form #submit {
    margin: 1.5rem 0 1.5rem 0;
}

form #submit:hover {
    color: red;
    cursor: pointer;
}

form li {
    margin: .5rem 0 1rem 0;
    padding: 0;
    list-style-type: none;
    font-size: .7rem;
    color:red;
}

form p {
    margin: 0;
    padding: 0;
}



