#number-list {
    max-width: 50rem;
    margin: auto;
    text-align: justify;
    font-size: 1.5rem;
}

h1 {
    padding: 0 0 0 0;   
    margin: 3rem 0 1rem 0; 
}

.back {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    border-width: 1px;
    font-size: 1.5rem;
    margin: 1rem 0 3rem 0;
    width: 6rem;
    height: 2rem;
}

.back:hover {
    color: red;
}

.pagination ul {
    text-align: center;
    padding: 0;
    margin: 0 0 1rem 0;
}

.pagination li {
    list-style-type: none;
    display: inline;
    padding: 0 .5rem 0 .5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.pagination li.previous.disabled.unavailable {
    padding: 0;
    margin: 0;
}
