@import 'home.css';
@Import 'numbers.css';

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;

    position: relative;
}

a:hover {
    color: red;
}

