<!DOCTYPE html>
<html>
    <head>
      <title>Numbers Application</title>
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>