{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <form action="" method="post" novalidate>
            
            {{ form.hidden_tag() }}
            <p>
                {{ form.number.label }}<br>
                {{ form.number }}<br>
                {% for error in form.number.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </p>
            <p>
                {{ form.numberType.label }}<br>
                {{ form.numberType }} <br>
                {% for error in form.numberType.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}