{% extends "base.html" %} {% block content %}

    <h1>
        {% if type %} 
            {{type}}
        {% endif %}
            numbers in range [1, {{number}}]
    </h1>
    {{ pagination.links }}
    <div id="number-list">
        {% if number == 0 %}
            Please choose a number greater than 0!
        {% else %}
            {% for number in numbers %} 
                {{number}}{{ ", " if not loop.last }}
            {% endfor %}
        {% endif %}
    </div>
    <a href="{{url_for('index')}}"><button class="back">home</button></a>
{% endblock %}
